<h3> Please select one of the options below. </h3>
<form method = "post" action = "choice">
	<input type="number" name="number_1">
	<input type="number" name="number_2"><br>
	<input type="radio" name="method" value="+">Addtion<br>
	<input type="radio" name="method" value="-">Subtraction<br>
	<input type="radio" name="method" value="/">Division<br>
	<input type="radio" name="method" value="*">Multiplication<br>
	<input type="hidden" name="f_name" value="<%=f_name%>">
	<input type="hidden" name="l_name" value="<%=l_name%>">
	<input type="submit" name="submit">
</form>