<h1><%=msg%></h1><h3> Please enter your first and last name. </h3>
<form method = "post" action = "fullname">
	<input method="text" name="f_name">
	<input method="text" name="l_name">
	<input type="submit" name="submit">
</form>