<h3> Please enter your username and password. </h3>
<%=msg%>
<form method = "post" action = "user_pass">
	Username: <input type="text" name="username" required>
	Password: <input type="password" name="password" required>
	<input type="submit" name="submit">
</form>