<h3> Please enter your two numbers. </h3>
<form method = "post" action = "numbers">
	<input method="number" name="number_1">
	<input method="number" name="number_2">
	<input type="submit" name="submit">
</form>